<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">The Tracks Remember</a>

    <nav class="nav">
      <a href="/">Home</a>
      <a href="/the-tracks-remember">The Tracks Remember</a>
      <a href="/trains-and-castles">Trains and Castles</a>
      <a href="https://bookmembers.base44.app/members">Member Area</a>
      <a href="/about">About</a>
      <a href="https://jorgerobando.com/">Author Hub</a>
    </nav>
  </div>
</header>